<header id="banner-container">
  <a href="/">
    <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQFlbJMLQgUBbQ/company-logo_200_200/0?e=2159024400&v=beta&t=ZCW1aeEdZz35TeUsgEkSMv5P1y0xQC7Os9a3zJI_NgY" alt="Logo Senior Sistemas">
  </a>
  <button>&#9776;</button>
</header>

<main id="landing-container">
  <button>Incluir Pessoa</button>

  <section>
    <h3>Novo Check In</h3>
    <form>
      <div data-direction="column">
        <label>Data/hora de Entrada</label>
        <input type="datetime-local" name="dataEntrada" />
      </div>
      <div data-direction="column">
        <label>Data/hora de Saída</label>
        <input type="datetime-local" name="dataEntrada" />
      </div>
      <div data-direction="column">
        <label>Documento</label>
        <input name="documento" />
      </div>
      <div data-direction="row">
        <input type="checkbox" name="adicionalVeiculo" />
        <label>Possui Veículo?</label>
      </div>
    </form>
  </section>

  <section>
    <h3>Consultas</h3>
  </section>
</main>
